---
title: Welcome
---

|
  Hermes is an accessible, multi-device, multi-paradigm navigation platform for blind or visually-impaired travelers.

h2 Recent News
-unless sorted_articles.nil?
  ==render "partials/articles", :articles_to_render => sorted_articles[0..4]
